* {
  
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

/* Style the header */
.header {
  text-align: center;
  background: url(Resources/Images/mamiebackground1.jpeg) no-repeat center ;
  background-size: cover;
  min-height: 100%;
  background-position: center;
}

/* Style the top navigation bar */
.navbar {
  text-align: center;
  padding-bottom: 25%;
  position: sticky;
  position: -webkit-sticky; 
  top: 0;/* Safari */
}

/* Style the navigation bar links */
.navbar a {
  display: inline;
  color: white;
  text-align: center;
  font-size: large;
  padding: 30px 30px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}


/* Increase the font size of the h1 element */
.header h1 {
  color: white;
}

/* Style the header paragraph */
.header p {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/* RSVP Button */
.button {
  color: white;
  padding-bottom: 30px;
  font-size: larger;
  font-weight: bold;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .row {   
    flex-direction: column;
  }
  .navbar a {
    float: none;
    display: block;
    width:100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
    width:100%;
  }
}


