body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-color:white;
}
* {
  box-sizing: border-box;
}
.fit-picture {
    height: 380px;
    width: 350;
    border-radius: 30% 30% 0 0;
    
}
/* Style the top navigation bar */
.navbar {
    text-align: center;
    padding: 2%;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;/* Safari */
}
  
  /* Style the navigation bar links */
  .navbar a {
    display: inline;
    color: rgb(72, 53, 125);
    text-align: center;
    font-size: large;
    padding: 30px 30px;
    text-decoration: none;
}
.navbar a:active {
    background-color: rgb(72, 53, 125);
    color: white;
  }


/* Style the header */
.header {
  text-align: center;
  background-image: url(Resources/Images/AdobeStock_455521834.jpeg);
  background-size:cover;
  min-height: 100%;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* Style the navigation bar links */
.navbar a {
  display: inline;
  color: rgb(199, 176, 207);
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: larger;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(199, 176, 207);;
  color: white;
}

.hcontent{
  background-color: white;
  border-radius: 25% 25% 25% 25%;
  color: rgb(199, 176, 207);
  margin: 20% 40%;
  max-width: 300px;
}

.button{
  font-size: x-large;
  color: rgb(199, 176, 207);;
  text-decoration: none;
}

/* Style the container/contact section */
.container {

  /* Change color on hover */
.navbar a:hover {
    background-color: rgb(72, 53, 125);
    color: white;
}

/* header */
/* Style the header */
.sitename {
    text-align: center;
    background: rgb(72, 53, 125);
    background-size:contain;
    min-height: 50%;
    padding-top: 30%;

  }
.hcontent {    text-align: center;
    background: rgb(72, 53, 125);
    background-size: contain;
    min-height: 50%;
    background-position: center;
    color: white;
    padding-bottom: 30%;
  }
.header{
    padding-left: 150px;
    width: 450px;
    top: 43px;
    font-size: 35px;
    bottom: 0;
  }

  .header2{
    float: left;
    width: 40%;
    margin-top: 6px;
    border-right: solid;
    padding-left: 30%;
    padding-top: 5%;
    color: rgb(93, 45, 147);
  } 
/* RSVP Button */
.button {
    color: white;
    padding-bottom: 0px;
    font-size: larger;
    font-weight: bold;
  }

.containerh {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}
/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 120px;
}

/* Elipse */

/* Style the container/contact section */
.container2 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}


/* Style the container/contact section */
.container2 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Elipse */

.container3 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.polygons {
  text-align: center;
  position: relative;
}
.square {
  width: 300px;
  height: 250px;
  background: rgb(199, 176, 207);;
  position: relative;
  top: 65px;
  display: inline-block;
}
.circle {
  width: 300px;
  height: 150px;
  background: rgb(199, 176, 207);;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -120px;
  overflow: visible;
  border-radius: 50%/65% 65% 0 0;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}


/* Column 2 */

.column2 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Elipse 2 */

.container3 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Elipse 3 */

.polygons {
  text-align: center;
  position: relative;
}
.square {
  width: 400px;
  height: 250px;
  background: black;
  position: relative;
  top: 65px;
  display: inline-block;
}
.circle {
  width: 400px;
  height: 200px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -120px;
  overflow: visible;
  border-radius: 50%/65% 65% 0 0;
}

/* Column h1 */

.columnh1 {
    float: left;
    width: 40%;
    margin-top: 6px;
    border-right: solid;
    padding-left: 30%;
    padding-top: 5%;
    color: rgb(93, 45, 147);
}
  
  /* Column h2 */
  
  .columnh2 {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding-right: 25%;
    padding-top: 5%
  }

  /* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 75px;
    background-color: white;
  }
/* Column 2 */
  
.column2 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}


/* Column 3 */

.column3 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 4 */

.column4 {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 5 */

.column5 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 6 */

.column6 {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Container 1 Row Adjusts */
.rowh:after {
    content: "";
    display: table;
    clear: both;
  }
  
.row:after {
  content: "";
  display: table;
  clear: both;
}


.row3:after {
  content: "";
  display: table;
  clear: both;
}

.row5:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .row {   
    flex-direction: column;
  }
  .navbar a {
    float: none;
    display: block;
    width:100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
    width:100%;
  }
}

