body {
  font-family: Baskerville, serif;
}
* {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: left;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Change color on hover */
.navbar a:hover {
  background-color: red;
  color: black;
}

/* header */

.header

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Elipse */

/* Style the container/contact section */
.container2 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Elipse 2 */

.container3 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Elipse 3 */

.polygons {
  text-align: center;
  position: relative;
}
.square {
  width: 300px;
  height: 250px;
  background: #805FA2;
  position: relative;
  top: 65px;
  display: inline-block;
}
.circle {
  width: 300px;
  height: 150px;
  background: #805FA2;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -120px;
  overflow: visible;
  border-radius: 50%/65% 65% 0 0;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}


/* Column 2 */

.column2 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 3 */

.column3 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 4 */

.column4 {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 5 */

.column5 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Column 6 */

.column6 {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 75px;
  background-color: white;
}

/* Container 1 Row Adjusts */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.row3:after {
  content: "";
  display: table;
  clear: both;
}

.row5:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}